:root {
    --cor1: #B2BFCA;
    --cor2: #6F9ABF;
    --cor3: #51718C;
    --cor4: #383C40;
    --cor5: #253340;
    --cor6: #000000;
    --cor7: #ffffff;
    --cor8: #DE3A58;
}
section {
    margin: auto;
    margin-top: 60px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.anotacoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.anotacao {
    background-color: var(--cor7);
    color: var(--cor2);
    text-decoration: none;
    border: 1px solid var(--cor2);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px 20px 20px 10px;
}