section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    width: 1750px;
    margin: auto;
}

.menu-lateral {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.menu-lateral h1 {
    font-size: 35px;
}

.menu-lateral .nome{
    margin-left: 20px;
    font-size: 25px;
}

.menu-lateral .email{
    margin-left: 20px;
    font-size: 20px;
}

.botoes {
    display: flex;
    flex-direction: column;
    margin: auto;
}

button {
    color: var(--cor7);
    border-radius: 20px;
    border: none;
    width: 150px;
    height: 30px;
    margin: 5px 0;
}

.button {
    background-color: var(--cor3);
}

.excluir {
    background-color: var(--cor8);
}
.card {
    background-color: var(--cor7);
    border: 2px solid var(--cor3);
    border-radius: 25px;
    width: 250px;
    height: 100px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none !important;
}

.tarefas {
    position: absolute;
    left: 900px;
    top: 75px;
}

.disciplinas {
    position: absolute;
    left: 1200px;
    top: 75px;
}

.habitos {
    position: absolute;
    left: 900px;
    top: 200px;
}

.anotacoes {
    position: absolute;
    left: 1200px;
    top: 200px;
}

.horarios {
    position: absolute;
    left: 1050px;
    top: 325px;
}

